media/

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

venv
.idea/
bin/
doc/*/_build
doc/*/.doctrees
*.egg-info
issue/
.env/
3rdparty/
.tox
.pytest_cache
.coverage.*
.ropeproject
.idea
.hypothesis
.pydevproject
.project
.settings
.vscode
